@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    
}


body {
    box-sizing: border-box;
    background-color: #003B4A;
    color: white;
    
}
.nome {
    color: #FF500B;
   

}
.menu{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 10%;
    gap: 82px;
    
}
.sec{
    width:50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}
.titulo{
    font-size: 1.875rem;
    font-family: "Michroma", sans-serif;
}
.conteudo{
    font-size: 1rem;
    font-family: "Libertinus Mono", monospace;
}
.links{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items:center ;
    gap:25px;
}
.botao{
   
    display:flex;
    justify-content: center;
    color:#747df7;
    width:50%;
    text-align: center;
    border-radius: 100px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 0;
    text-decoration: none;
    border: 3px solid #747df7;
}
.redes{ 
display: flex;
font-family: "Michroma", sans-serif;
font-weight: 100;
font-size: 0.625rem;



}
.botao:hover{ 
    background-color: #FF500B;
    width: 55%;

}
.footer{ 
    display:flex;
    justify-content: center;
    background-color: rgba(223, 223, 253, 0.274);
    color: black;
    font-size: 0.75rem;
    
}
.cabeçalho__menu{
    padding: 2% 2% 2% 15%;
    display: flex;
    gap: 80px;
    background-color: #0a082567;
}
.inicial{
    color: #f07342cb;
    font-size: 150%;
    font-family: "Libertinus Mono", monospace;
    text-decoration: none;
  

}
.titulos{
    color: #f07342cb;
    font-size: 150%;
    font-family: "Libertinus Mono", monospace;
    text-decoration: none;
    
}
.historia{color: #f07342cb;
    font-size: 150%;
    font-family: "Libertinus Mono", monospace;
    text-decoration: none;
}

.ouro{
    font-size: 1.875rem;
    font-family: "Michroma", sans-serif;
    color:#d5d83ccb
    
}
.prata{
    font-size: 1.875rem;
    font-family: "Michroma", sans-serif;
    color: #7b7e80f8;
}
.bronze{
    font-size: 1.875rem;
    font-family: "Michroma", sans-serif;
    color: #b6583391;
}
.champion{
    font-size: 0.75rem;
    font-family: "Libertinus Mono", monospace;
    display: flex;
    flex-direction: column-reverse;
    padding:0;
    
}
.vice{
    font-size: 0.75rem;
    font-family: "Libertinus Mono", monospace;

}
.terceiro{
    font-size: 0.75rem;
    font-family: "Libertinus Mono", monospace;

}
.podio__gold{
    margin: 5%;
    margin-right: 10%;
}
.podio{
    margin: 5%;
    margin-top: 20%;
    
}
.JM{
    font-size: 1rem;
    font-family: "Libertinus Mono", monospace;
}
.lenda{
    font-size: 1.875rem;
    font-family: "Michroma", sans-serif;
    color: #FF500B;

}
.menu2{
    display: flex;
    flex-direction: column;
    padding: 20%;
    padding-top: 3%;
    gap: 18px;
    

}
.Infacia{
    color: #ff8251e0;
font-size: 1.25rem;
font-family: "Michroma", sans-serif;

 }
.img{
    width: 50%;
}

@media(max-width:550px){
.menu{ 
    flex-direction: column-reverse;
    align-items: center;

} 
.cabeçalho{ 
display: flex;
align-items: center;
    padding:10%;
    gap: 0px;


    
}
.cabeçalho__menu{
     background-color: #003B4A;
    gap: 17px;}

     .img{
        height: 50%;
     }
 .sec{ width: auto;

     }

}
